In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
file_path = './Transformation File01.xlsx'
df = pd.read_excel(file_path)

In [3]:
df.shape

(35, 46)

In [4]:
df_cleaned = df.dropna(axis=1, how='all')
df_cleaned = df.dropna(axis=0, how='all')

df_cleaned.shape

(31, 46)

In [19]:
df_cleaned.head(1)

8,Measurement Category,Assessment Area,Score,Comments,Value,Month
0,Cost & Control,Financial and contractual diligence,3,Victoria: No issues \nJames: No issues in this...,Contractual Standard,Jan

In [6]:
df_cleaned.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45'],
      dtype='object')

In [7]:
# df_cleaned = df_cleaned[['Unnamed: 1', 'Unnamed: 4', 'Unnamed: 24', 'Unnamed: 36', 'Unnamed: 38']]

df_cleaned = df_cleaned[['Unnamed: 1', 'Unnamed: 4', 'Unnamed: 24', 'Unnamed: 36', 'Unnamed: 38'] + [f'Unnamed: {i}' for i in range(25, 36)]]

In [21]:
df_cleaned.head(2)

8,Measurement Category,Assessment Area,Score,Comments,Value,Month
0,Cost & Control,Financial and contractual diligence,3,Victoria: No issues \nJames: No issues in this...,Contractual Standard,Jan
1,Cost & Control,Cost reduction,3,Victoria: No issues \nJames: No issues in this...,Contractual Standard,Jan

In [9]:
df_cleaned.columns = df_cleaned.iloc[8]

In [10]:
df_cleaned.columns

Index(['Measurement Category', 'Assessment Area', 'Jan', 'Score', 'Comments',
       'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',
       'Dec'],
      dtype='object', name=8)

In [11]:
df_cleaned = df_cleaned[10:].reset_index(drop=True)

In [13]:
file_name = os.path.basename(file_path)

# Get the last 2 characters of the filename (assuming it's something like 'data_01.xlsx')
month_suffix = file_name[-7:-5]

print(month_suffix)

01

In [14]:
month_mapping = {
    '01': 'Jan',
    '02': 'Feb',
    '03': 'Mar',
    '04': 'Apr',
    '05': 'May',
    '06': 'Jun',
    '07': 'Jul',
    '08': 'Aug',
    '09': 'Sep',
    '10': 'Oct',
    '11': 'Nov',
    '12': 'Dec'
}

# Get the month name from the mapping
month_to_consider = month_mapping.get(str(month_suffix))

# Check if the mapping was successful
if month_to_consider:
    # Create 'Value' and 'Month' columns
    df_cleaned['Value'] = df_cleaned[month_to_consider]
    df_cleaned['Month'] = month_to_consider

    # Drop the original month columns (Jan to Dec) as they are no longer needed
    df_cleaned.drop(columns=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'], inplace=True)

In [15]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [16]:
df_cleaned['Measurement Category'] = df_cleaned['Measurement Category'].ffill()
df_cleaned['Comments'] = df_cleaned['Comments'].ffill()

In [20]:
df_cleaned.head(2)

8,Measurement Category,Assessment Area,Score,Comments,Value,Month
0,Cost & Control,Financial and contractual diligence,3,Victoria: No issues \nJames: No issues in this...,Contractual Standard,Jan
1,Cost & Control,Cost reduction,3,Victoria: No issues \nJames: No issues in this...,Contractual Standard,Jan

In [18]:
# df_cleaned.to_excel('./Transformed Data.xlsx', index=False)